# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Publish as NPM Package

on:
  release:
    types: [created]


permissions:
    id-token: write
    contents: read


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 24.12
      - run: npm ci
      - run: npm run-script citest

  publish-npm:
    needs: build
    environment: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 24.12
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run-script build
      - run: npm publish
